
.bar1 {
    fill: #31a354;

}

.bar2 {
    fill: #3182bd;

}

.bar3 {
    fill: #636363;

}

.bar4 {
    fill: #de2d26;

}

.bar5 {
    fill: #e6550d;

}

.bar6 {
    fill: #756bb1;
 
}



.bar1:hover {
    animation-name: green1;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.bar2:hover {
    animation-name: green2;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}

.bar3:hover {
    animation-name: green3;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}

.bar4:hover {
    animation-name: green4;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}

.bar5:hover {
    animation-name: green5;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}

.bar6:hover {
    animation-name: green6;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
        animation-timing-function: ease-in;
}

.pathC:hover {
    animation-name: chord;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
        
}

div.tooltip1 {
    position: absolute;
    text-align: center;
    color:#F1F1F1;
    width: 200px;
    height: 32px;
    padding: 2px;
    font: 12px sans-serif;
    background: #494949;
    border: 1px;
    border-color: #F1F1F1;
    border-style: solid;
    border-radius: 30px;
    pointer-events: none;
}

path.slice:hover {
  animation-name: aster;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
   
}

@keyframes aster {
    from {
        fill: #4CFFEA;
        stroke:#4CFFEA;
    }

    to {
        fill: #00B49F;
        stroke:#00B49F;
    }
}

@keyframes chord {
    from {
        fill: #4CFFEA;
        stroke:#4CFFEA;
    }

    to {
        fill: #00B49F;
        stroke:#00B49F;
    }
}

@keyframes green1 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #31a354;
    }
}

@keyframes green2 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #3182bd;
    }
}

@keyframes green3 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #636363;
    }
}

@keyframes green4 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #de2d26;
    }
}

@keyframes green5 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #e6550d;
    }
}

@keyframes green6 {
    from {
        fill: #4CFFEA;
    }

    to {
        fill: #756bb1;
    }
}