.nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    color: #F1F1F1;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -18rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 18rem;
    z-index: 1;
    overflow: scroll;
    font-size: 20px;
    border-radius: 0px;
    border-width: 1px;
    border-color: #F1F1F1;
    border-style: none solid none none;
    font-family: montserrat;
}

#menuButton:hover {
    animation-name: menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    

}

text{

    font-family: montserrat !important;
}


@keyframes menu {
    from {

        border-color: #4CFFEA;
    }

    to {

        border-color: #00B49F;
    }
}

@keyframes list {
    from {

        color: #4CFFEA;
    }

    to {

        color: #00B49F;
    }
}

.expanded {
    left: 0;
}

.nav ul {
    position: absolute;

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li:hover {

    animation-name: list;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}


#menuButton {
    cursor: pointer;
    height: 2.2rem;
    left: 2rem;
    position: fixed;
    top: 0.5rem;
    width: 14rem;
    z-index: 2;
    border-radius: 30px;
    border-width: 1.8px;
    outline: none;
    font-family: montserrat;
    font-size:1.2em;
}

.faq {
    width:20px;
    height:20px;
    position:absolute;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/Montserrat-Light.ttf') format('truetype');
}

* {
    background-color: #191414;

}

h1 {

    color: white;

}

.btn {
    width: 60px;
    border-style: solid;
    border-width: 1.5px !important;
    margin-top: 15px;
    text-align: center;
    outline: none !important;
    font-family: montserrat;

}

.btn:focus, .btn:active {
    
    box-shadow:none !important;
}

.button_gdp {
    margin-top: 40px;
    color: #31a354;
    border-color: #31a354 !important;
}

.button_gdp:hover {
    color: #F1F1F1;
    background-color: #31a354;
}

.button_gdp:focus {
    color: #F1F1F1;
    background-color: #31a354;
}

.button_gdp:active {
    color: #F1F1F1;
    background-color: #31a354;
}

.button_cpi {
    color: #3182bd;
    border-color: #3182bd !important;
}

.button_cpi:hover {
    color: #F1F1F1;
    background-color: #3182bd;
}

.button_cpi:focus {
    color: #F1F1F1;
    background-color: #3182bd;
}

.button_hdi {
    color: rgb(122, 1, 119);
    border-color: rgb(122, 1, 119) !important;
}

.button_hdi:hover {
    color: #F1F1F1;
    background-color:rgb(122, 1, 119);
}

.button_hdi:focus {
    color: #F1F1F1;
    background-color: rgb(122, 1, 119);
}

.button_gii {
    color: #de2d26;
    border-color: #de2d26 !important;
}

.button_gii:hover {
    color: #F1F1F1;
    background-color: #de2d26;
}

.button_gii:focus {
    color: #F1F1F1;
    background-color: #de2d26;
}

.button_uer {
    color: #e6550d;
    border-color: #e6550d !important;
}

.button_uer:hover {
    color: #F1F1F1;
    background-color: #e6550d;
}

.button_uer:focus {
    color: #F1F1F1;
    background-color: #e6550d;
}

.button_hs {
    color: #756bb1;
    border-color: #756bb1 !important;
}

.button_hs:hover {
    color: #F1F1F1;
    background-color: #756bb1;
}

.button_hs:focus {
    color: #F1F1F1;
    background-color: #756bb1;
}